.App {
  text-align: center;
}

.image {
  width: 200px;
}

.div {
  display: flex;
  flex-direction: column;
}

#roomBar {
  display: inline-block;
  width: 300px;
}

#inputBlock {
  display: inline-block;
  width: 200px;
}

.block {
  display: inline-block;
}

.transparent {
  background-color: transparent;
  border-style: none;
}